.sync
{
    color:saddlebrown;
    background-color: azure;
    padding: 0px;
    font-size: 20px;
    padding-bottom: 5px;
    border: 5px;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 5px;
}