<h1>two way binding using template refrence :- </h1>
<!-- ts to html data transfer -->
<h2 >Data from TS TO HTML : {{htots}}</h2>

<!-- html text input fields data transfer to ts using template refrence which is not in 
  sync with datai.e. as soon as we type the letter in textinput then we have to perform 
  action like clicking the button to transfer the html data to ts -->

<input type="text" placeholder="data binding using template refrence" id="1" #mydata >
<button (click)="SendMessage(mydata.value)" style="margin-left: 10px;">send data from html to ts</button>
<h2>data from text input using async approach using template refrence where #mydata is template refrence : {{data}}</h2>

<!-- using ngModel approach which is sync in nature  -->
<h1 class="sync">two way data binding which is using ngModel method of angular :- </h1>
<input type="text" [(ngModel)]="databind" placeholder="data binding using ngModel" id="2"> 
<h2 [style.color]="'red'">data from text input using ngModel method as : {{databind}}</h2>